{% extends parent_template|default:'base.html' %}

{% block medication_menu %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-stethoscope"></i> <span>Medication</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block drugs_menu %}
                <li>
                    <a href="{% url 'regimens_drug_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Drugs
                    </a>
                </li>
            {% endblock %}
            {% block regimens_menu %}
                <li>
                    <a href="{% url 'regimens_regimen_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Regimens
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>

{% endblock %}