{% extends parent_template|default:'regimens/base_regimens.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Drug
{% endblock %}

{% block drugs_menu %}
    <li class="active">
        <a href="{% url 'regimens_drug_list' %}">
            <i class="fa fa-circle-o text-red"></i> Drugs
        </a>
    </li>
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block page_heading %}
    Drug
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'regimens_drug_list' %}"><i class="fa fa-stethoscope"></i> Drugs</a></li>
    <li class="active"><i class="fa fa-stethoscope"></i> Drug</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">{{ drug }}</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Date added</b> <a class="pull-right">{{ drug.date_created }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Added by</b> <a class="pull-right">{{ drug.created_by.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last modified</b> <a class="pull-right">{{ drug.date_last_modified }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Modified by</b> <a class="pull-right">{{ drug.last_modified_by.get_full_name }}</a>
                        </li>
                    </ul>
                    <a href="{{ drug.get_update_url }}" class="btn btn-primary"><b>Edit</b></a>
                    {% if user.is_superuser %}
                        <a href="{{ drug.get_delete_url }}" class="btn btn-danger"><b>Delete</b></a>
                    {% endif %}
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Drug</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>

                    <p>
                        {% if drug.description %}
                            {{ drug.description }}
                        {% else %}
                            This drug currently doesn't have a description
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Patients On Drug</h3>
                </div>

                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Patient</th>
                                <th>Date Started</th>
                                <th>Date Ended</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for regimen in drug.regimens.all %}
                                <tr>
                                    <td>
                                        <a href="{{ regimen.get_absolute_url }}">{{ regimen.patient.identifier }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ regimen.get_absolute_url }}">{{ regimen.patient.get_full_name }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ regimen.get_absolute_url }}">{{ regimen.date_started }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ regimen.get_absolute_url }}">
                                            {% if regimen.date_ended %}
                                                {{ regimen.date_ended }}
                                            {% else %}
                                                Unavailable
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Patient ID</th>
                                <th>Patient</th>
                                <th>Date Started</th>
                                <th>Date Ended</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <!-- if there are regimens to export, enable the export all button -->
                    {% if drug.regimens.all %}
                        <a class="btn btn-warning" target="_blank" href="{{ request.path|add:'?export=csv' }}">
                            Export All
                        </a>
                    {% else %}
                        <a class="btn btn-warning disabled">Export All</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}