{% extends parent_template|default:'regimens/base_regimens.html' %}

{% block title %}
    {{ block.super }} | Delete Drug
{% endblock %}

{% block page_heading %}
    Delete {{ drug }}
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'regimens_drug_list' %}"><i class="fa fa-stethoscope"></i> Drugs</a></li>
    <li class="active"><i class="fa fa-edit"></i> Delete Drug</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Delete Drug Confirmation</h3>
                </div>
                <form role="form" action="{{ drug.get_delete_url }}" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        Are you sure that you want to delete the drug: {{ drug }}?
                        It will be removed from all regimens in which it contains.
                    </div>
                    <div class="box-footer">
                        <a href="{{ drug.get_absolute_url }}" class="btn btn-success">Cancel</a>
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}