{% extends parent_template|default:'base.html' %}

{% block medical_menu %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-medkit"></i> <span>Medical Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block report_type_menu %}
                <li>
                    <a href="{% url 'medical_report_type_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Report Types
                    </a>
                </li>
            {% endblock %}
            {% block report_menu %}
                <li>
                    <a href="{% url 'medical_report_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Reports
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>
{% endblock %}