{% load widget_tweaks %}

<div class="box-body">
    {% for field in form %}
        <div class="{% if field.errors %}form-group has-error{% else %}form-group{% endif %}">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}

            {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}

            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li><p class="help-block">{{ error|escape }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</div>
