{% extends parentemplate|default:'medical/base_medical.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Medical Report Types
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block report_type_menu %}
    <li class="active">
        <a href="{% url 'medical_report_type_list' %}">
            <i class="fa fa-circle-o text-red"></i> Report Types
        </a>
    </li>
{% endblock %}

{% block page_heading %}
    Medical Report Types
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'medical_report_type_list' %}"><i class="fa fa-medkit"></i> Medical Report Types</a></li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Existing Medical Report Types</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th>Created By</th>
                            <th>Date Last Modified</th>
                            <th>Last Modified By</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report_type in medical_report_type_list %}
                            <tr>
                                <td><a href="{{ report_type.get_absolute_url }}">{{ report_type }}</a></td>
                                <td>
                                    <a href="{{ report_type.get_absolute_url }}">{{ report_type.date_created }}</a>
                                </td>
                                <td>
                                    <a href="{{ report_type.get_absolute_url }}">
                                        {% if report_type.created_by %}
                                            {{ report_type.created_by.get_full_name }}
                                        {% else %}
                                            Unavailable
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ report_type.get_absolute_url }}">
                                        {{ report_type.date_last_modified }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ report_type.get_absolute_url }}">
                                        {% if report_type.last_modified_by %}
                                            {{ report_type.last_modified_by.get_full_name }}
                                        {% else %}
                                            Unavailable
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th>Created By</th>
                            <th>Date Last Modified</th>
                            <th>Last Modified By</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'medical_report_type_create' %}">Add Medical Report Type</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}