{% extends parent_template|default:'medical/base_medical.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Add Medical Report
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
{% endblock %}

{% block report_menu %}
    <li class="active">
        <a href="{% url 'medical_report_list' %}">
            <i class="fa fa-circle-o text-red"></i> Reports
        </a>
    </li>
{% endblock %}


{% block page_heading %}
    Add Medical Report
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'medical_report_list' %}"><i class="fa fa-medkit"></i> Medical Reports</a></li>
    <li class="active"><i class="fa fa-edit"></i> Add Medical Report</li>
{% endblock %}

{% block page_content %}
    {% include 'form_errors.html' with class='col-md-12' %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Medical Report Details</h3>
                </div>
                <form role="form" action="{% url 'medical_report_create' %}" method="post">
                    {% csrf_token %}
                    {% include 'medical/medical_report_form_body.html' %}
                    <div class="box-footer">
                        <button type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>
{% endblock %}