{% extends parent_template|default:"support_services/base_support_services.html" %}

{% block title %}
  Service - {{ service.name }}
{% endblock %}

{% block page_heading %}
 {{ service.name }}
{% endblock %}

{% block page_subheading %}
  Details
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i> <a href="{% url 'support_services_service_list' %}">Services</a>
  </li>
  <li class="active">
    {{ service.name }}
  </li>
{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Description</h1>
  </div>
  <div class="well">
    <p>{{ service.description }}</p>
  </div>
{% endblock %}
