{% extends parent_template|default:"support_services/base_support_services.html" %}

{% block title %}
  Confirm Delete - {{ service.name|title }}
{% endblock %}

{% block page_heading %}
  {{ service.name|title }}
{% endblock %}

{% block page_subheading %}
  Confirm Deletion
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i> <a href="{% url 'support_services_service_list' %}">Services</a>
  </li>
  <li>
    <a href="{{ service.get_absolute_url }}">{{ service.name|title }}</a>
  </li>
  <li class="active">
    Delete
  </li>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Confirm Deletion</h2>
      <p class="lead">Are you sure that you want to delete the service '<strong>{{ service.name|title }}</strong>'?</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <form role="form" method="post" action="{{ service.get_delete_url }}">
        {% csrf_token %}
        <a href="{{ service.get_absolute_url }}" class="btn btn-success">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}
