{% extends parent_template|default:'appointments/base_appointments.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Appointments
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%}">
    <!-- fullCalendar 2.2.5 -->
    <link rel="stylesheet" href="{% static "plugins/fullcalendar/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/fullcalendar/fullcalendar.print.css" %}" media="print">
{% endblock %}


{% block page_heading %}
    Appointments
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'appointments_appointment_list' %}"><i class="fa fa-calendar-plus-o"></i> Appointments</a></li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Scheduled Appointments</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Patient ID</th>
                                <th>Patient Name</th>
                                <th>Owner</th>
                                <th>Date</th>
                                <th>Starts</th>
                                <th>Ends</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointment_list %}
                            <tr>
                                <td><a href="{{ appointment.get_absolute_url }}">{{ appointment }}</a></td>
                                <td>
                                    <a href="{{ appointment.get_absolute_url }}">
                                        {% if appointment.patient %}
                                            {{ appointment.patient.identifier }}
                                        {% else %}
                                            Unavailable
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ appointment.get_absolute_url }}">
                                        <a href="{{ appointment.get_absolute_url }}">
                                            {% if appointment.patient %}
                                                {{ appointment.patient.get_full_name }}
                                            {% else %}
                                                Unavailable
                                            {% endif %}
                                        </a>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ appointment.get_absolute_url }}">
                                        {% if appointment.owner %}
                                            {{ appointment.owner.get_full_name }}
                                        {% else %}
                                            Unavailable
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ appointment.get_absolute_url }}">{{ appointment.appointment_date }}</a>
                                </td>
                                <td><a href="{{ appointment.get_absolute_url }}">{{ appointment.start_time }}</a></td>
                                <td><a href="{{ appointment.get_absolute_url }}">{{ appointment.end_time }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Patient ID</th>
                                <th>Patient Name</th>
                                <th>Owner</th>
                                <th>Date</th>
                                <th>Starts</th>
                                <th>Ends</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'appointments_appointment_create' %}">Add Appointment</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- the calendar -->
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>

    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{% static "plugins/fullcalendar/fullcalendar.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();

            // Initialise the calendar
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                editable: false,
                navLinks: true,
                eventLimit:true,
                events: [
                    {% for appointment in appointment_list %}
                        {
                            title: '{{ appointment }}',
                            start: new Date(
                                    '{{ appointment.appointment_date.year }}',
                                    parseInt('{{ appointment.appointment_date.month }}')-1,
                                    '{{ appointment.appointment_date.day }}',
                                    '{{ appointment.start_time.hour }}',
                                    '{{ appointment.start_time.minute }}'),
                            end: new Date(
                                    '{{ appointment.appointment_date.year }}',
                                    parseInt('{{ appointment.appointment_date.month }}')-1,
                                    '{{ appointment.appointment_date.day }}',
                                    '{{ appointment.end_time.hour }}',
                                    '{{ appointment.end_time.minute }}'),
                            url: '{{ appointment.get_absolute_url }}'
                        },
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}