{% extends parent_template|default:'base.html' %}

{% block appointments_menu %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-calendar"></i> <span>Appointments</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block appointments_list_menu %}
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o text-aqua"></i> Appointments List
                    </a>
                </li>
            {% endblock %}
            {% block appointments_add_menu %}
                <li>
                    <a href="{% url 'appointments_appointment_create' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Add Appointment
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>
{% endblock %}