{% extends parent_template|default:'adverse/base_adverse.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Adverse Events
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block event_menu %}
    <li class="active">
        <a href="{% url 'adverse_event_list' %}">
            <i class="fa fa-circle-o text-red"></i> Adverse Events
        </a>
    </li>
{% endblock %}

{% block page_heading %}
    Adverse Events
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'adverse_event_list' %}"><i class="fa fa-wheelchair"></i> Adverse Events</a></li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Reported Adverse Events</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Event Type</th>
                                <th>Patient ID</th>
                                <th>Patient</th>
                                <th>Event Date</th>
                                <th>Date Added</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in adverse_event_list %}
                                <tr>
                                    <td><a href="{{ event.get_absolute_url }}">{{ event.adverse_event_type }}</a></td>
                                    <td>
                                        <a href="{{ event.get_absolute_url }}">{{ event.patient.identifier }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ event.get_absolute_url }}">{{ event.patient.get_full_name }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ event.get_absolute_url }}">{{ event.event_date }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ event.get_absolute_url }}">{{ event.date_created }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Event Type</th>
                                <th>Patient ID</th>
                                <th>Patient</th>
                                <th>Event Date</th>
                                <th>Date Added</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'adverse_event_create' %}">Report Adverse Event</a>
                    <a class="btn btn-success" href="{% url 'adverse_event_export_form' %}">Filter Exports</a>
                    <!-- if there are any adverse events, make the export all button available -->
                    {% if adverse_event_list %}
                        <a class="btn btn-warning" href="{{ request.path|add:'?export=csv' }}">Export All</a>
                    {% else %}
                        <a class="btn btn-warning disabled">Export All</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}