{% extends parent_template|default:"base_dashboard_page_model_list_view.html" %}
{% block title %}
  {{ block.super }} - Communique Users
{% endblock %}

{% block page_heading %}
  Communique Users
{% endblock %}

{% block list_view_title %}
  Communique Users
{% endblock %}

{% block search_form %}
  {% include "list_view_search_form.html" %}
{% endblock %}

{% block create_new_item_button %}
  <a href="{% url 'user_communique_user_create' %}" class="btn btn-primary" style="float:right">
    Resgister New User</a>
{% endblock %}

{% block info_alert_body %}
  <strong>Currently there isn't any registered user.</strong>
  Click the <a href="{% url 'user_communique_user_create' %}" class="alert-link">
    register new user</a> button to add one.
{% endblock %}

{% block table_title %}
  <h2>Registered Users</h2>
{% endblock %}

{% block table_heading %}
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
      <th>Position</th>
    </tr>
  </thead>
{% endblock %}

{% block table_body %}
  <tbody>
    {% for communique_user in communique_user_list %}
      <tr>
        <td><a href="#">{{ communique_user.get_full_name }}</a></td>
        <td><a href="#">{{ communique_user.username }}</a></td>
        <td><a href="#">{{ communique_user.email }}</a></td>
        <td>
          <a href="#">
            {% if communique_user.is_active %}
              Activated
            {% else %}
              Deactivated
            {% endif %}
          </a>
        </td>
        <td>
          <a href="#">
            {% if communique_user.is_superuser %}
              Superuser
            {% else %}
              Staff
            {% endif %}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
