{% extends parent_template|default:"user/base_communique_user_list.html" %}

{% block page_subheading %}
  Search
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i>
    <a href="{% url 'user_communique_user_list' %}">Communiqué Users</a>
  </li>
  <li class="active">
    Search
  </li>
{% endblock %}

{% block info_alert_body %}
  <strong>No users were found for the provided search query.</strong>
{% endblock %}

{% block table_title %}
  <h2>Registered users for query: "{{ request.GET.q }}"</h2>
{% endblock %}
