{% extends parent_template|default:"base_page.html" %}
{% load widget_tweaks %}

{% block title %}
  Reset Password
{% endblock %}

{% block page_content %}
  {% if form.errors %}
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-4">
        {% for non_field_error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong>Oh snap!</strong> {{ non_field_error|escape }}
          </div>
        {% endfor %}

        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i> <strong>Error on the '{{ field.label }}' field: </strong>
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
          <p>
            Please specify your email address to receive instructions for resetting password.
          </p>
          <form role="form" action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.email.label_tag }}
              {{ form.email|attr:"placeholder:Enter your registered email address"|add_class:"form-control" }}
            </div>
            <a class="btn btn-warning" href="{% url 'user_login' %}">Cancel</a>
            <button class="btn btn-success" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
