{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
  Password Update Done
{% endblock %}

{% block page_heading %}
  Password Update
{% endblock %}

{% block page_subheading %}
  Completed
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'user_profile_detail' pk=user.pk %}">Profile</a>
  </li>
  <li class="active">
    Password Update Completed
  </li>
{% endblock %}

{% block page_content %}
  <div class="jumbotron">
    <h1>Password Update Complete</h1>
    <p>Your password has successfully been updated</p>
  </div>
{% endblock %}
