{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Reset Password
{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>Reset Email Address</b>
            </div>
            <div class="login-box-body">
                {% if form.errors %}
                    <p class="login-box-msg text-red">
                        There is something wrong with the email address provided. Please try again.
                    </p>
                {% else %}
                    <p class="login-box-msg">
                        Please enter your email address to be sent instructions on resetting your password.
                    </p>
                {% endif %}

                <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        {{ form.email|attr:"placeholder:Registered email address"|add_class:"form-control" }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- jQuery 2.2.3 -->
        <script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
        <!-- bootstrap 3.3.6 -->
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
{% endblock %}


