{% extends parent_template|default:"base.html" %}

{% block title %}
  Password Update Done
{% endblock %}

{% block page_heading %}
  Password Update Completed
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
  <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li class="active"><i class="fa fa-thumbs-o-up"></i> Password Update Complete</li>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="callout callout-success">
        <h4>Password Update Complete</h4>
        <p>
          You have successfully updated your password. <a href="{% url 'user_profile_detail' pk=user.pk %}">Click here</a> to go back to your profile page.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
