{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} | User Profile
{% endblock %}


{% block page_heading %}
    User Profile
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-user"></i> User Profile</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-body box-profile">

                    <h3 class="profile-username text-center">Profile Details</h3>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Username</b> <a class="pull-right">{{ user_profile.username }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>First name</b> <a class="pull-right">{{ user_profile.first_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last name</b> <a class="pull-right">{{ user_profile.last_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right">{{ user_profile.email }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last login</b> <a class="pull-right">{{ user_profile.last_login }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Date added</b> <a class="pull-right">{{ user_profile.date_joined }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Account status</b>
                            {% if user_profile.is_active %}
                                <span class="label label-success pull-right">Activated</span>
                            {% else %}
                                <span class="label label-danger pull-right">Deactivated</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <b>Position</b>
                            {% if user_profile.is_superuser %}
                                <span class="label label-warning pull-right">Superuser</span>
                            {% else %}
                                <span class="label label-success pull-right">Staff</span>
                            {% endif %}
                        </li>
                    </ul>
                    <a href="{{ user_profile.get_update_url }}" class="btn btn-primary"><b>Edit Details</b></a>
                    <a href="{% url 'password_change' %}" class="btn btn-warning"><b>Update Password</b></a>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>

                    <h3 class="box-title">Notification Registrations</h3>
                </div>
                <div class="box-body">
                    <p>Services for which you have registered to receive notifications</p>
                    <ul class="todo-list">
                        {% with registrations=user_profile.notification_registrations.all %}
                            {% for registration in registrations %}
                                <li>
                                    <span class="handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>

                                    <span class="text">{{ registration }}</span>

                                    <div class="tools">
                                        <a href="{{ registration.get_delete_url }}" class="text-red">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </li>
                            {% empty %}
                                <p class="text-red">
                                    <b>
                                        You currently haven't registered to receive notifications for any services.
                                        Click the register button below to select services for which you would like to
                                        receive notifications.
                                    </b>
                                </p>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
                <div class="box-footer clearfix no-border">
                    <a href="{% url 'user_notification_registration_create' %}" class="btn btn-default pull-right">
                        <i class="fa fa-plus"></i> Register
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

