<div class="row">
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">Username:</h3>
    <h4>{{ object.username }}</h4>
  </div>
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">First name:</h3>
    <h4>{{ object.first_name }}</h4>
  </div>
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">Last name:</h3>
    <h4>{{ object.last_name }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">Email:</h3>
    <h4>{{ object.email }}</h4>
  </div>
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">Role:</h3>
    <h4>
      <span class="label label-warning">
        {% if object.is_superuser %}
          Superuser
        {% else %}
          Staff
        {% endif %}
      </span>
    </h4>
  </div>
  <div class="col-lg-4">
    <h3 style="text-decoration:underline;">Status:</h3>
    <h4>
      {% if object.is_active %}
        <span class="label label-success">Activated</span>
      {% else %}
        <span class="label label-danger">Deactivated</span>
      {% endif %}
    </h4>
  </div>
</div>
