{% extends parent_template|default:"base_dashboard.html" %}

{% block content %}
  <!-- Page content -->
  <div id="page-wrapper">
    <div class='container-fluid'>
      <!-- Page heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            {% block page_heading %}
              Page Heading
            {% endblock %}
            <small>
              {% block page_subheading %}
                Page subheading
              {% endblock %}
            </small>
          </h1>
          <ol class="breadcrumb">
            {% block page_breadcrumb %}
              <li>
                <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard_home' %}">Dashboard</a>
              </li>
            {% endblock %}
          </ol>
        </div>
      </div>
      <!-- /.row -->
      {% block page_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
