{% extends parent_template|default:"base_dashboard_page.html" %}

{% block page_subheading %}
  List
{% endblock %}

{% block page_content %}
  <div class="row">
    <!-- search bar -->
    <div class="col-lg-6">
      {% block search_form %}
        <form role="form">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </form>
      {% endblock %}
    </div>
    <!-- create new item button -->
    <div class="col-lg-6">
      {% block create_new_item_button %}
        <a href="#" class="btn btn-primary" style="float:right">
          Add New Item
        </a>
      {% endblock %}
    </div>
  </div>

  <!-- information alerts -->
  {% if not object_list %}
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
          </button>
          <i class="fa fa-info-circle"></i>
          {% block info_alert_body %}
            <strong>
              Currently, there isn't any item in the database.
            </strong>
            Click the <a href="#" class="alert-link">add new item</a> button to add one.
          {% endblock %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-12">
      {% block table_title %}
        <h2>Existing Items</h2>
      {% endblock %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% block table_heading %}
            <thead>
              <tr>
                <th>Name</th>
                <th>Other stuff</th>
              </tr>
            </thead>
          {% endblock %}
          {% block table_body %}
            <tbody>
              <tr>
                <td>Thing 1</td>
                <td>Thing 2</td>
              </tr>
            </tbody>
          {% endblock %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
