{% load staticfiles %}
<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Communiqué Web App
            {% endblock %}
        </title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- place holder for bootstrap css and js -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}">

    {% block head %}
    {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            {% block menu %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>

        <!-- jQuery -->
        <script src="{% static "js/jquery.js" %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>