{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} | Dashboard
{% endblock %}

{% block dashboard_menu %}
    <li class="active">
        <a href="{% url 'dashboard_home' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
{% endblock %}

{% block page_heading %}
  Dashboard
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-plus-o"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Appointments This Week</span>
                    <span class="info-box-number">20</span>
                    <a href="{% url 'user_profile_calendar_view' %}" class="info-box-more">View Appointments</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-calendar-o"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Events This Week</span>
                    <span class="info-box-number">20</span>
                    <a href="{% url 'occasions_event_list' %}" class="info-box-more">View Events</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-plus-square"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Counselling Sessions This Week</span>
                    <span class="info-box-number">20</span>
                    <a href="{% url 'counselling_sessions_session_list' %}" class="info-box-more">View Counselling Sessions</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-support"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Enrollments This Week</span>
                    <span class="info-box-number">20</span>
                    <a href="{% url 'patients_enrollment_list' %}" class="info-box-more">View Enrollments</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
