{% extends parent_template|default:"base.html" %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
{% endblock %}

{% block patients_menu %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-heartbeat"></i> <span>Patients</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block current_patients_menu %}
                <li>
                    <a href="{% url 'patients_patient_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Current Patients
                    </a>
                </li>
            {% endblock %}
            {% block archived_patients_menu %}
                <li>
                    <a href="{% url 'patients_patient_archived_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Archived Patients
                    </a>
                </li>
            {% endblock %}
            {% block outcome_type_menu %}
                <li>
                    <a href="{% url 'patients_outcome_type_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Patient Outcome Categories
                    </a>
                </li>
            {% endblock %}
            {% block outcome_menu %}
                <li>
                    <a href="{% url 'patients_outcome_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Patient Outcomes
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>
{% endblock %}