{% extends parent_template|default:"base_data_table.html" %}

{% block patients_menu %}
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-heartbeat"></i> <span>Patients</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block patients_list_menu %}
                <li>
                    <a href="{% url 'patients_patient_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Patients List
                    </a>
                </li>
            {% endblock %}
            {% block patients_create_menu %}
                <li>
                    <a href="{% url 'patients_patient_create' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Register Patient
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>
{% endblock %}