{% extends parent_template|default:"patients/base_enrollments.html" %}

{% block title %}
    {{ block.super }} | Enrollment
{% endblock %}

{% block page_heading %}
    Enrollment Details
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_enrollment_list' %}"><i class="fa fa-support"></i> Enrollments</a></li>
    <li class="active"><i class="fa fa-support"></i> Enrollment</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Enrollment Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Date of enrollment</b> <a class="pull-right">{{ enrollment.date_enrolled }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Added by</b> <a class="pull-right">{{ enrollment.created_by.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Date added</b> <a class="pull-right">{{ enrollment.date_created }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Modified by</b> <a class="pull-right">{{ enrollment.last_modified_by.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Modified on</b> <a class="pull-right">{{ enrollment.date_last_modified }}</a>
                        </li>
                    </ul>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Comments on enrollment</strong>
                    <p>
                        {% if enrollment.comment %}
                            {{ enrollment.comment }}
                        {% else %}
                            There currently isn't any comment about this enrollment
                        {% endif %}
                    </p>
                </div>
                <div class="box-footer">
                    <a href="{{ enrollment.get_update_url }}" class="btn btn-warning btn-block"><b>Edit Enrollment</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Enrolled Patient Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Name</b> <a class="pull-right">{{ enrollment.patient.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Patient ID</b>
                            <a class="pull-right">
                                {% if enrollment.patient.identifier %}
                                    {{ enrollment.patient.identifier }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Contact number</b>
                            <a class="pull-right">
                                {% if enrollment.patient.contact_number %}
                                    {{ enrollment.patient.contact_number }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Reference health centre</b>
                            <a class="pull-right">
                                {% if enrollment.patient.reference_health_centre %}
                                    {{ enrollment.patient.reference_health_centre }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Address</b>
                            <a class="pull-right">
                                {% if enrollment.patient.location %}
                                    {{ enrollment.patient.location }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <a href="{{ enrollment.patient.get_absolute_url }}" class="btn btn-primary btn-block">
                        More details on patient
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Program Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Name</b> <a class="pull-right">{{ enrollment.program.name }}</a>
                        </li>
                    </ul>
                    <strong><i class="fa fa-book margin-r-5"></i> Description</strong>
                    <p>{{ enrollment.program.description }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ enrollment.program.get_absolute_url }}" class="btn btn-primary btn-block">
                        More details on program
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}