{% extends parent_template|default:"patients/base_enrollments.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Close Enrollment
{% endblock %}

{% block head %}
    <!-- select2 css -->
    <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
    <!-- bootstrap datepicker css -->
    <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
{% endblock %}

{% block page_heading %}
    Update Patient Enrollment Status
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_enrollment_list' %}"><i class="fa fa-support"></i> Enrollments</a></li>
    <li class="active"><i class="fa fa-edit"></i> Update Enrollment Status</li>
{% endblock %}

{% block page_content %}
    {% include "form_errors.html" with class="col-md-12" %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Enrollment Status</h3>
                </div>
                <form role="form" action="{{ enrollment.get_update_url }}" method="post">
                    {% csrf_token %}
                    {% include 'patients/enrollment_form_body.html' %}
                    <div class="box-footer">
                        <a href="{{ enrollment.get_absolute_url }}" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- select2 js -->
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <!-- datepicker js -->
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $('.date-picker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}