{% extends parent_template|default:"patients/base_enrollments.html" %}

{% block title %}
    {{ block.super }} | Enrollment
{% endblock %}

{% block page_heading %}
    Enrollment Details
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_enrollment_list' %}"><i class="fa fa-support"></i> Enrollments</a></li>
    <li class="active"><i class="fa fa-support"></i> Enrollment</li>
{% endblock %}

{% block page_content %}
    {% if not enrollment.is_active %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                    This enrollment has been marked as no longer active. The patient is therefore no longer enrolled in
                    the program.
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Enrollment Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Date of enrollment</b> <a class="pull-right">{{ enrollment.date_enrolled }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Created by</b> <a class="pull-right">{{ enrollment.enrolled_by.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b>
                            <a class="pull-right">
                                {% if enrollment.is_active %}
                                    <span class="label label-success">Open</span>
                                {% else %}
                                    <span class="label label-danger">Closed</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Comments on enrollment</strong>
                    <p>{{ enrollment.comment }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ enrollment.get_update_url }}" class="btn btn-warning btn-block"><b>Edit Enrollment Status</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Enrolled Patient Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Name</b> <a class="pull-right">{{ enrollment.patient.get_full_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Patient ID</b>
                            <a class="pull-right">
                                {% if enrollment.patient.identifier %}
                                    {{ enrollment.patient.identifier }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Contact number</b>
                            <a class="pull-right">
                                {% if enrollment.patient.contact_number %}
                                    {{ enrollment.patient.contact_number }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Reference health centre</b>
                            <a class="pull-right">
                                {% if enrollment.patient.reference_health_centre %}
                                    {{ enrollment.patient.reference_health_centre }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Address</b>
                            <a class="pull-right">
                                {% if enrollment.patient.location %}
                                    {{ enrollment.patient.location }}
                                {% else %}
                                    Unavailable
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <a href="{{ enrollment.patient.get_absolute_url }}" class="btn btn-primary btn-block">
                        More details on patient
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body">
                    <h3 class="text-center">Program Details</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Name</b> <a class="pull-right">{{ enrollment.program.name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b>
                            <a class="pull-right">
                                {% if enrollment.program.is_open %}
                                    <span class="label label-success">Open</span>
                                {% else %}
                                    <span class="label label-danger">Closed</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <strong><i class="fa fa-book margin-r-5"></i> Description</strong>
                    <p>{{ enrollment.program.description }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ enrollment.program.get_absolute_url }}" class="btn btn-primary btn-block">
                        More details on program
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}