{% extends parent_template|default:"patients/base_enrollments.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Enrollments
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block enrollments_list_menu %}
    <li class="active">
        <a href="{% url 'patients_enrollment_list' %}">
            <i class="fa fa-circle-o text-red"></i> Enrollment List
        </a>
    </li>
{% endblock %}

{% block page_heading %}
    Enrollments
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_enrollment_list' %}"><i class="fa fa-support"></i> Enrollments</a></li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Registered enrollments</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient Name</th>
                            <th>Program</th>
                            <th>Date Enrolled</th>
                            <th>Enrolled By</th>
                            <th>Enrollment Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for enrollment in enrollment_list %}
                                <tr>
                                    <td>
                                        <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.patient.identifier }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ enrollment.get_absolute_url }}">
                                            {{ enrollment.patient.get_full_name }}
                                        </a>
                                    </td>
                                    <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.program }}</a></td>
                                    <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.date_enrolled }}</a></td>
                                    <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.enrolled_by.get_full_name }}</a></td>
                                    <td>
                                        <a href="{{ enrollment.get_absolute_url }}">
                                            {% if enrollment.is_active %}
                                                <span class="label label-success">Open</span>
                                            {% else %}
                                                <span class="label label-danger">Closed</span>
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient Name</th>
                            <th>Program</th>
                            <th>Date Enrolled</th>
                            <th>Enrolled By</th>
                            <th>Enrollment Status</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'patients_enrollment_create' %}">Add Enrollment</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}