{% extends parent_template|default:"patients/base_patients.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Patient Outcome Categories
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block outcome_type_menu %}
    <li class="active">
        <a href="{% url 'patients_outcome_type_list' %}">
            <i class="fa fa-circle-o text-red"></i> Patient Outcome Categories
        </a>
    </li>
{% endblock %}

{% block page_heading %}
    Patient Outcome Categories
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    {{ block.super }}
    <li>
        <a href="{% url 'patients_outcome_type_list' %}"><i class="fa fa-heartbeat"></i> Patient Outcome Categories</a>
    </li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Patient Outcome Categories</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Added</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for type in outcome_type_list %}
                                <tr>
                                    <td><a href="{{ type.get_absolute_url }}">{{ type }}</a></td>
                                    <td><a href="{{ type.get_absolute_url }}">{{ type.date_created }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Date Added</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'patients_outcome_type_create' %}">Add Outcome Category</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}