{% extends parent_template|default:"patients/base_patients.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Patients
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block patients_list_menu %}
    <li class="active">
        <a href="{% url 'patients_patient_list' %}">
            <i class="fa fa-circle-o text-red"></i> Patients List
        </a>
    </li>
{% endblock %}

{% block page_heading %}
    Patients
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_patient_list' %}"><i class="fa fa-heartbeat"></i> Patients</a></li>
    <li class="active"><i class="fa fa-table"></i> List</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Registered patients</h3>
                </div>
                <div class="box-body">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Date Added</th>
                            <th>Added By</th>
                            <th>Last Modified Date</th>
                            <th>Last Modified By</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patient in patient_list %}
                            <tr>
                                <td><a href="{{ patient.get_absolute_url }}">{{ patient }}</a></td>
                                <td>
                                    <a href="{{ patient.get_absolute_url }}">
                                        {% if patient.identifier %}
                                            {{ patient.identifier }}
                                        {% else %}
                                            Unavailable
                                        {% endif %}
                                    </a>
                                </td>
                                <td><a href="{{ patient.get_absolute_url }}">{{ patient.date_created }}</a></td>
                                <td><a href="{{ patient.get_absolute_url }}">{{ patient.created_by.get_full_name }}</a></td>
                                <td><a href="{{ patient.get_absolute_url }}">{{ patient.date_last_modified }}</a></td>
                                <td><a href="{{ patient.get_absolute_url }}">{{ patient.last_modified_by.get_full_name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Date Added</th>
                            <th>Added By</th>
                            <th>Last Modified Date</th>
                            <th>Last Modified By</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{% url 'patients_patient_create' %}">Add Patient</a>
                    <a class="btn btn-success" href="#">Import Patients</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#table1").DataTable();
        });
    </script>
{% endblock %}