{% extends parent_template|default:"patients/base_patients.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Enroll Patient
{% endblock %}

{% block head %}
    <!-- select2 css -->
    <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
    <!-- bootstrap datepicker css -->
    <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
{% endblock %}

{% block page_heading %}
    Enroll {{ patient.get_full_name }} Into Program
{% endblock %}

{% block page_subheading %}
    Form
{% endblock %}

{% block page_breadcrumb %}
    {{ block.super }}
    {% if patient.archived %}
        <li><a href="{% url 'patients_patient_archived_list' %}"><i class="fa fa-heartbeat"></i> Archived Patients</a></li>
    {% else %}
        <li><a href="{% url 'patients_patient_list' %}"><i class="fa fa-heartbeat"></i> Patients</a></li>
    {% endif %}
    <li class="active"><i class="fa fa-support"></i> Enroll Patient</li>
{% endblock %}

{% block page_content %}
    {% include "form_errors.html" with class="col-md-12" %}

    <div class="row">
        <div class="col-md-12">
            {% if patient.archived %}
                <div class="callout callout-danger">
                    <h4>Patient Is Archived</h4>
                    <p>
                        This patient is currently archived and therefore cannot be enrolled into a program.
                    </p>
                </div>
            {% else %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Enrollment Details</h3>
                    </div>
                    <form role="form" action="{% url 'patients_patient_enroll_create' patient_pk=patient.pk %}" method="post">
                        {% csrf_token %}
                        {% include 'patients/enrollment_form_body.html' %}
                        <div class="box-footer">
                            <a href="{{ patient.get_absolute_url }}" class="btn btn-warning">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- select2 js -->
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <!-- datepicker js -->
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $('.date-picker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}