{% extends parent_template|default:"patients/base_patients.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }} | Add Admission For Patient
{% endblock %}

{% block head %}
    <!-- select2 css -->
    <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
    <!-- bootstrap datepicker css -->
    <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
{% endblock %}

{% block page_heading %}
    Add Admission For {{ patient.get_full_name }}
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'patients_patient_list' %}"><i class="fa fa-heartbeat"></i> Patients</a></li>
    <li class="active"><i class="fa fa-ambulance"></i> Add Admission</li>
{% endblock %}

{% block page_content %}
    {% include 'form_errors.html' with class='col-md-12' %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Admission Details</h3>
                </div>
                <form role="form" action="{% url 'patients_patient_admission_create' patient_pk=patient.pk %}" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        {% for field in form %}
                            <div class="{% if field.errors %}form-group has-error{% else %}form-group{% endif %}">
                                {{ field.label_tag }}

                                {% if field.label == 'Patient' %}
                                    {{ field|add_class:'form-control select2'|append_attr:'style:width: 100%;' }}
                                {% elif field.label == 'Admission date' or field.label == 'Discharge date' %}
                                    {{ field|attr:'placeholder:DD/MM/YYYY'|add_class:'form-control date-picker' }}
                                {% else %}
                                    {{ field|add_class:'form-control' }}
                                {% endif %}

                                {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text }}</p>
                                {% endif %}

                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li><p class="help-block">{{ error|escape }}</p></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-warning" href="{{ patient.get_absolute_url }}">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- select2 js -->
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <!-- datepicker js -->
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $('.date-picker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}