{% extends parent_template|default:"patients/base_patients.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Add Appointment For Patient
{% endblock %}

{% block head %}
    <!-- select2 css -->
    <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
    <!-- bootstrap datepicker css -->
    <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
    <!-- bootstrap timepicker css -->
    <link rel="stylesheet" href="{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}">
{% endblock %}

{% block page_heading %}
    Add Appointment For {{ patient }}
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    {{ block.super }}
    {% if patient.archived %}
        <li><a href="{% url 'patients_patient_archived_list' %}"><i class="fa fa-heartbeat"></i> Archived Patients</a></li>
    {% else %}
        <li><a href="{% url 'patients_patient_list' %}"><i class="fa fa-heartbeat"></i> Patients</a></li>
    {% endif %}
    <li class="active"><i class="fa fa-calendar-plus-o"></i> Add Appointment</li>
{% endblock %}

{% block page_content %}
    {% include 'form_errors.html' with class='col-md-12' %}

    <div class="row">
        <div class="col-md-12">
            {% if patient.archived %}
                <div class="callout callout-danger">
                    <h4>Patient Is Archived</h4>
                    <p>
                        This patient is currently archived and therefore appointments cannot be made for him/her.
                    </p>
                </div>
            {% else %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Appointment Details</h3>
                    </div>
                    <form role="form" action="{% url 'patients_patient_appointment_create' patient_pk=patient.pk %}" method="post">
                        {% csrf_token %}
                        {% include 'appointments/appointment_form_body.html' %}
                        <div class="box-footer">
                            <a class="btn btn-warning" href="{{ patient.get_absolute_url }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- select2 js -->
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <!-- datepicker js -->
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <!-- bootstrap timepicker js -->
    <script src="{% static "plugins/timepicker/bootstrap-timepicker.min.js" %}"></script>
    <script>
        $(function () {
            $(".select2").select2();
            $("#id_appointment_date").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>
{% endblock %}