{% extends parent_template|default:"services/patient_base_form.html" %}
{% load widget_tweaks %}

{% block title %}
  Add a new patient
{% endblock %}

{% block page_heading %}
  Add
{% endblock %}

{% block page_subheading %}
  New Patient
{% endblock %}

{% block form %}
  <form role="form" action="{% url 'services_patient_create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.first_name.label_tag }}
      {{ form.first_name|attr:"placeholder:Enter first name"|add_class:"form-control" }}
    </div>
    <div class="form-group">
      {{ form.last_name.label_tag }}
      {{ form.last_name|attr:"placeholder:Enter last name"|add_class:"form-control" }}
    </div>
    <div class="form-group">
      {{ form.birth_date.label_tag }}
      {{ form.birth_date|attr:"placeholder:dd/mm/yyyy"|add_class:"form-control" }}
    </div>
    <button type="reset" class="btn btn-default">Reset</button>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
