{% extends parent_template|default:"services/base_services.html" %}
{% load widget_tweaks %}

{% block title %}
  Create New Pilot Program
{% endblock %}

{% block page_heading %}
  Create
{% endblock %}

{% block page_subheading %}
  Pilot Program
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i> <a href="{% url 'services_pilot_program_list' %}">
      Pilot Programs
    </a>
  </li>
{% endblock %}

{% block page_content %}
  {% include "base_dashboard_page_model_form_errors.html" %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title"> Pilot Program Details</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="{% url 'services_pilot_program_create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.name.label_tag }}
              {{ form.name|attr:"placeholder:Enter pilot program name"|add_class:"form-control" }}
            </div>
            <div class="form-group">
              {{ form.description.label_tag }}
              {{ form.description|add_class:"form-control" }}
            </div>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
