{% extends parent_template|default:"services/base_services.html" %}

{% block title %}
  {{ pilot_program }}
{% endblock %}

{% block page_heading %}
  {{ pilot_program }}
{% endblock %}

{% block page_subheading %}
  Details
{% endblock %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i> <a href="{% url 'services_pilot_program_list' %}">
      Pilot Programs</a>
  </li>
  <li class="active">
    {{ pilot_program }}
  </li>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <p>{{ pilot_program.description }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <a href="{{ patient.get_update_url }}" class="btn btn-warning">
      Edit Pilot Program
    </a>
    <a href="{{ patient.get_delete_url }}" class="btn btn-danger">
      Delete Pilot Program
    </a>
  </div>
{% endblock %}
