{% extends parent_template|default:"services/base_services.html" %}

{% block page_breadcrumb %}
  {{ block.super }}
  <li>
    <i class="fa fa-table"></i> <a href="{% url 'services_pilot_program_list' %}">
      Pilot Programs
    </a>
  </li>
{% endblock %}

{% block page_content %}
  {% include "base_dashboard_page_model_form_errors.html" %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title"> Pilot Program Details</h3>
        </div>
        <div class="panel-body">
          {% block form %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
