{% extends parent_template|default:'base.html' %}

{% block events_menu %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-calendar-o"></i> <span>Events</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% block events_list_menu %}
                <li>
                    <a href="{% url 'occasions_event_list' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Events List
                    </a>
                </li>
            {% endblock %}
            {% block events_add_menu %}
                <li>
                    <a href="{% url 'occasions_event_create' %}">
                        <i class="fa fa-circle-o text-aqua"></i> Add Event
                    </a>
                </li>
            {% endblock %}
        </ul>
    </li>
{% endblock %}