{% extends parent_template|default:"programs/base_programs.html" %}

{% block title %}
    {{ block.super }} | Delete Program
{% endblock %}

{% block page_heading %}
    Delete {{ program }}
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'programs_program_list' %}"><i class="fa fa-tags"></i> Pilot Programs</a></li>
    <li class="active"><i class="fa fa-edit"></i> Delete Program</li>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Delete Program Confirmation</h3>
                </div>
                <form role="form" action="{{ program.get_delete_url }}" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        Are you sure that you want to delete the program: {{ program }}?
                        All enrollments to this program will be deleted as well.
                    </div>
                    <div class="box-footer">
                        <a href="{{ program.get_absolute_url }}" class="btn btn-success">Cancel</a>
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}