{% extends parent_template|default:"programs/base_programs.html" %}

{% block title %}
    {{ block.super }} | Add Pilot Program
{% endblock %}

{% block page_heading %}
    Add Pilot Program
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'programs_program_list' %}"><i class="fa fa-tags"></i> Pilot Programs</a></li>
    <li class="active"><i class="fa fa-edit"></i> Add Pilot Program</li>
{% endblock %}

{% block page_content %}
    {% include "form_errors.html" with class="col-md-12" %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Pilot Program Details</h3>
                </div>
                <form role="form" action="{% url 'programs_program_create' %}" method="post">
                    {% csrf_token %}
                    {% include 'programs/program_form_body.html' %}
                    <div class="box-footer">
                        <button type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}